body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background: white;
    font-family: Arial sans-serif;
    box-sizing: border-box;
}

.container {
    width: 600px;
    min-height: 700px;
    margin-top: 40px;
    padding: 40px;
    background: lightgray;
    display: flex;
    flex-direction: column;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.search_box {
    position: relative;
    flex-shrink: 0;
}

label {
    display: none;
}

#search {
    width: 100%;
    font-size: 28px;
    padding: 20px 20px;
    border: 2px solid;
    box-sizing: border-box;
}

.autocomplete {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #dcdcdc;
    border: 2px solid black;
    display: none;
    position: absolute;
    width: 100%;
    z-index: 22;
}

.autocomplete li {
    padding: 15px 20px;
    cursor: pointer;
    font-size: 24px;
    background: #dcdcdc;
    border: 1px solid black;
}

.autocomplete li:hover {
    background: #65cdf9;
}

.repo_list {
    list-style: none;
    padding: 0;
    margin-top: auto;
}

.repo-item {
    background: #e27beb;
    color: white;
    padding: 15px 20px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.del_btn {
    color: red;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 48px;
    text-decoration: none;
    font-family: serif;

}

.del_btn:hover {
    opacity: 0.8;
}